<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <base href="/">

</head>

<body>

    <input type="checkbox" id="check" />

    <label for="check">
        <i class="fa fa-chevron-circle-right" id="btn-show"></i>
        <i class="fa fa-chevron-circle-left" id="btn-hide"></i>
    </label>


    <div class="encabezado">
        <nav class="nav_style">
            <ul>
                <li><a href="#" class="logo">Quiz</a></li>

                <div class="lg-ritgh">
                    <li><a href="#">Usuario</a>
                        <ul>
                            <li> <a href="#">Cambio de clave</a></li>
                            <li><a href="#"> Mensaje</a></li>
                            <li><a href="#"> Salir</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
        </nav>

    </div>
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <section>
        <div class="contenido">
            <router-outlet></router-outlet>
        </div>
    </section>

    <footer>
    </footer>


</body>

</html>